<div>
    <h3> Projet {{currentProject.title}}:</h3>
    <p>Description: {{currentProject.description}}</p>
    <p>Start year: {{currentProject.year}}</p>
    <!--<p>Create At: {{currentProject.createdAt}}</p>
    <p>Update At: {{currentProject.updatedAt}}</p>-->

    <h3> Users on the project: </h3>

    <a href="#/manageProject/{{currentProject.id}}" class="btn btn-info" > Modifier </button></a>
    <a href="#/projects/"><button ng-click="deleteProject(currentProject.id)" class="btn btn-danger" > Supprimer </button></a>
    <a href="#/projects/" class="btn btn-primary" > Retour </a>
</div>